<%- include('partials/header') %>
	<main>
		<h1>Username: <%= username %></h1>
		<p>Followers: <%= followers %></p>
		<p>Playlist Length: <%= playlistLength %></p>
	</main>
<%- include('partials/footer') %>