<%- include('partials/header') %>
	<main class="playlists">
		<!-- Header -->
		<div class="playlists__header-container">
			<h1 class="playlists__header">Playlists</h1>
		</div>

		<hr>

		<!-- Playlists Container -->
		<section class="playlists__container">
			<!-- Playlist -->
			<% for (let i = 0; i < playlistsArray.length; i++) { %>
				<div class="playlists__playlist">
					<!-- Playlist Cover -->
					<a href=<%= playlistsArray[i].external_urls.spotify %> target="_blank"><img class="playlists__playlist-image" src=<%= playlistsImageURLs[i] %> alt="playlist cover"></a>
					
					<!-- Playlist Name -->
					<p class="playlists__playlist-name">
						<a class="playlists__playlist-name-link" href=<%= playlistsArray[i].external_urls.spotify %> target="_blank"><%= playlistsArray[i].name %></a>
					</p>

					<!-- Playlist Track Count -->
					<p class="playlists__playlist-track-count">
						<%= playlistsArray[i].tracks.total %>
					</p>
				</div>
			<% } %>
		</section>
	</main>
<%- include('partials/footer') %>