<%- include('partials/header') %>
	<main class="track-analysis">
		<section class="track-analysis__track-header">
			<a href=<%= trackInfo.album.external_urls.spotify %> target="_blank">
				<img src=<%= trackInfo.album.images[0].url %> alt="track album cover">
			</a>
	
			<p>
				<a href=<%= trackInfo.external_urls.spotify %> target="_blank"><%= trackInfo.name %></a>
			</p>
	
			<% for (let i = 0; i < trackArtists.length; i++) { %> 
				<p>
					<a href=<%= trackArtists[i].url %> target="_blank">
						<%= trackArtists[i].name %>
					</a>
				</p>
			<% } %> 
		</section>

		<hr>

		<section class="track-analysis__track-info-container">
			<h2 class="track-analysis__track-info-header">Track Info</h2>
			<div class="track-analysis__track-info">
				<p class="track-analysis__track-info-property">Artist(s)</p>
				<p class="track-analysis__track-info-value">
					<% for (let i = 0; i < trackArtists.length; i++) { %> 
							<a href=<%= trackArtists[i].url %> target="_blank">
								<%= trackArtists[i].name %>
							</a>
					<% } %> 
				</p>
			</div>
			<div class="track-analysis__track-info">
				<p class="track-analysis__track-info-property">Album</p>
				<p class="track-analysis__track-info-value"><%= trackInfo.album.name %></p>
			</div>
			<div class="track-analysis__track-info">
				<p class="track-analysis__track-info-property">Release Date</p>
				<p class="track-analysis__track-info-value"><%= trackInfo.album.release_date %></p>
			</div>
		</section>

		<section class="track-analysis__track-info-container">
			<h2 class="track-analysis__track-info-header">Track Analysis</h2>
			<div class="track-analysis__track-info">
				<p class="track-analysis__track-info-property">Duration</p>
				<p class="track-analysis__track-info-value">
					<% for (let i = 0; i < trackArtists.length; i++) { %> 
							<a href=<%= trackArtists[i].url %> target="_blank">
								<%= trackArtists[i].name %>
							</a>
					<% } %> 
				</p>
			</div>
			<div class="track-analysis__track-info">
				<p class="track-analysis__track-info-property">Key</p>
				<p class="track-analysis__track-info-value"><%= trackInfo.album.name %></p>
			</div>
			<div class="track-analysis__track-info">
				<p class="track-analysis__track-info-property">Modality</p>
				<p class="track-analysis__track-info-value"><%= trackInfo.album.release_date %></p>
			</div>
		</section>
	</main>
<%- include('partials/footer') %>
